In [1]:
from etrace.load_data import load_from_bq

In [2]:
dataframe=load_from_bq("SELECT * FROM `aklewagonproject.etrace.cleaned_final_dataset`")

/Users/oscarsegura/.pyenv/versions/3.12.9/envs/etrace_env/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [3]:
dataframe

,geo,year,gdp,pop,employment_rate,pct_Dfb,pct_Dfc,pct_ET,pct_EF,pct_Cfb,...,pct_Cfc,pct_BWh,pct_Af,pct_Am,pct_Aw,pct_Cwa,pct_Cwb,pct_Csc,pct_Dsa,nights_spent
0,AT11,2000,17700.0,276226.0,70.8,0.598559,0.000000,0.000000,0.000000e+00,0.246943,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,2099045.0
1,AT12,2000,21900.0,1535083.0,71.8,0.801834,0.018312,0.000138,0.000000e+00,0.179622,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5170345.0
2,AT13,2000,36400.0,1548537.0,70.2,0.305616,0.000000,0.000000,0.000000e+00,0.694384,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,7697066.0
3,AT21,2000,22400.0,560696.0,66.9,0.655037,0.252566,0.092396,6.671897e-07,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,10282335.0
4,AT22,2000,23200.0,1182930.0,67.4,0.704175,0.260468,0.034091,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,7416045.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,TRB1,2020,4800.0,1755735.0,49.3,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.530877,912732.0
4313,TRB2,2020,3200.0,2174672.0,42.8,0.010818,0.000302,0.000000,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.396404,964398.0
4314,TRC1,2020,5400.0,2838319.0,48.1,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.094350,1126046.0
4315,TRC2,2020,3000.0,3829967.0,36.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.052000,1141378.0
4316,TRC3,2020,4000.0,2307332.0,32.8,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.174260,791088.0